In [1]:
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt
import numpy as np
from sklearn.neighbors import NearestNeighbors

In [5]:
data=pd.read_csv("D:/deva/imdb_1000 (1).csv")
data.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [6]:
data.shape

(979, 6)

In [7]:
data.isnull().sum()

star_rating       0
title             0
content_rating    3
genre             0
duration          0
actors_list       0
dtype: int64

In [8]:
data=data.dropna()

In [9]:
data.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

# Reccomanding the movie in Genre wise:

In [10]:
data.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

# Creating dummy varibles for genres column

In [11]:
Genre=pd.get_dummies(data[["genre"]])
Genre.tail()

,genre_Action,genre_Adventure,genre_Animation,genre_Biography,genre_Comedy,genre_Crime,genre_Drama,genre_Family,genre_Fantasy,genre_Film-Noir,genre_History,genre_Horror,genre_Mystery,genre_Sci-Fi,genre_Thriller,genre_Western
974,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
975,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
976,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
977,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
978,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [12]:
Rating=pd.get_dummies(data[["content_rating"]])
Rating.tail()

,content_rating_APPROVED,content_rating_G,content_rating_GP,content_rating_NC-17,content_rating_NOT RATED,content_rating_PASSED,content_rating_PG,content_rating_PG-13,content_rating_R,content_rating_TV-MA,content_rating_UNRATED,content_rating_X
974,0,0,0,0,0,0,1,0,0,0,0,0
975,0,0,0,0,0,0,1,0,0,0,0,0
976,0,0,0,0,0,0,0,1,0,0,0,0
977,0,0,0,0,0,0,1,0,0,0,0,0
978,0,0,0,0,0,0,0,0,1,0,0,0

# Concating the relavent columns from data to new data with dummy variables which already created:

In [13]:
new_data=pd.concat([Genre,Rating,data[["star_rating","duration"]]],1)
new_data.tail()

,genre_Action,genre_Adventure,genre_Animation,genre_Biography,genre_Comedy,genre_Crime,genre_Drama,genre_Family,genre_Fantasy,genre_Film-Noir,...,content_rating_NOT RATED,content_rating_PASSED,content_rating_PG,content_rating_PG-13,content_rating_R,content_rating_TV-MA,content_rating_UNRATED,content_rating_X,star_rating,duration
974,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,7.4,116
975,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,7.4,118
976,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,7.4,138
977,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,7.4,114
978,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,7.4,126

In [14]:
new_data.tail()

,genre_Action,genre_Adventure,genre_Animation,genre_Biography,genre_Comedy,genre_Crime,genre_Drama,genre_Family,genre_Fantasy,genre_Film-Noir,...,content_rating_NOT RATED,content_rating_PASSED,content_rating_PG,content_rating_PG-13,content_rating_R,content_rating_TV-MA,content_rating_UNRATED,content_rating_X,star_rating,duration
974,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,7.4,116
975,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,7.4,118
976,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,7.4,138
977,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,7.4,114
978,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,7.4,126

In [15]:
from sklearn.preprocessing import MinMaxScaler
Robust=MinMaxScaler()
New_data=Robust.fit_transform(new_data)

In [16]:
np.round(New_data,2)

array([[0.  , 0.  , 0.  , ..., 0.  , 1.  , 0.44],
       [0.  , 0.  , 0.  , ..., 0.  , 0.95, 0.62],
       [0.  , 0.  , 0.  , ..., 0.  , 0.89, 0.76],
       ...,
       [1.  , 0.  , 0.  , ..., 0.  , 0.  , 0.42],
       [0.  , 0.  , 0.  , ..., 0.  , 0.  , 0.28],
       [0.  , 0.  , 0.  , ..., 0.  , 0.  , 0.35]])

# Using KNN algorithm to find our prediction

In [17]:
reccomended_movie = NearestNeighbors(n_neighbors=10, algorithm='auto').fit(New_data)

In [18]:
distances, indices = reccomended_movie.kneighbors(New_data)

In [19]:
def Movie_title(name):
    return data[data["title"]==name].index.tolist()[0]

In [20]:
Movie_title("Pulp Fiction")

4

In [21]:
def Similar_movie_title(title=None):
     if title:
        found_title = Movie_title(title)
        for id in indices[found_title][1:]:
            print(data.iloc[id]["title"])

In [22]:
data["genre"].value_counts()

Drama        278
Comedy       156
Action       135
Crime        124
Biography     76
Adventure     74
Animation     62
Horror        29
Mystery       16
Western        9
Thriller       5
Sci-Fi         5
Film-Noir      3
Family         2
Fantasy        1
History        1
Name: genre, dtype: int64

In [23]:
Similar_movie_title("Memento")

Twelve Monkeys
Shutter Island
Dark City
Three Days of the Condor
Following
Alien
Taxi Driver
The Intouchables
Rear Window

In [24]:
data[data["genre"]=="Mystery"].head(10)

,star_rating,title,content_rating,genre,duration,actors_list
38,8.6,Rear Window,APPROVED,Mystery,112,"[u'James Stewart', u'Grace Kelly', u'Wendell C..."
46,8.5,Memento,R,Mystery,113,"[u'Guy Pearce', u'Carrie-Anne Moss', u'Joe Pan..."
76,8.4,Vertigo,APPROVED,Mystery,128,"[u'James Stewart', u'Kim Novak', u'Barbara Bel..."
110,8.3,2001: A Space Odyssey,G,Mystery,160,"[u'Keir Dullea', u'Gary Lockwood', u'William S..."
149,8.2,Rebecca,NOT RATED,Mystery,130,"[u'Laurence Olivier', u'Joan Fontaine', u'Geor..."
244,8.1,Shutter Island,R,Mystery,138,"[u'Leonardo DiCaprio', u'Emily Mortimer', u'Ma..."
249,8.1,Sleuth,PG,Mystery,138,"[u'Laurence Olivier', u'Michael Caine', u'Alec..."
264,8.1,Twelve Monkeys,R,Mystery,129,"[u'Bruce Willis', u'Madeleine Stowe', u'Brad P..."
292,8.1,The Manchurian Candidate,APPROVED,Mystery,126,"[u'Frank Sinatra', u'Laurence Harvey', u'Janet..."
467,7.9,The 39 Steps,UNRATED,Mystery,86,"[u'Robert Donat', u'Madeleine Carroll', u'Luci..."